.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    transition: background 0.2s;

    .title {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 0.2rem;
    }

    .btn {
        border-radius: 8px;
    }
}

.main {
    display: flex;
    flex-direction: column;

    .section {
        margin-top: 100px;

        h2 {
            font-size: 34px;
        }
    }

    .background {
        height: 79.5vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        @media (max-height: 700px) {
            height: 100vh;
        }    

        .topContent {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: #fff;
            max-width: 583px;

            h1 {
                margin-bottom: 20px;
            }
        }

        &:before {
            content: '';
            display: block;
            height: 100%;
            background: linear-gradient(180deg,rgba(0,0,0,.48) 0,rgba(0,0,0,.64) 100%);
        }
    }
}