#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f8f9fa;
    overflow-x: hidden;
}

.btn {
    &:focus {
        box-shadow: none;
    }
}

// components
@import './components/Carousel.scss';

// layouts
@import './layouts/SiteLayout.scss';

// pages
@import './pages/404.scss';