@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.btn {
    &:focus {
        box-shadow: none;
    }
}

// components
@import './components/SitePost.scss';
@import './components/Modal.scss';
@import './components/AuthModal.scss';
@import './components/Button.scss';
@import './components/Home.scss';

// layouts
@import './layouts/SiteLayout.scss';

// pages
@import './pages/404.scss';
@import './pages/Confirm.scss';
